<span class="collapsible-trigger-icon-sortby" role="presentation">
  <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-down">
  <path d="M7.68188 0.341064L4.34083 3.68211L0.999757 0.341063" stroke="#2B2725" stroke-width="0.75"/>
  </svg>
</span>
