{% if section.settings.page_breadcrumb_enable %}
    <div class="page-width-custom plp-section">
    {%- include 'breadcrumbs' -%}
    </div>
{% endif %}

<style>
  .plp-section nav.breadcrumb{
    margin: 0 12px;
    border-top: 1px solid rgba(43, 39, 37, 0.5);
    border-bottom: 1px solid rgba(43, 39, 37, 0.5);
    padding: 30px 0px;
    text-align: center;
  }
#shopify-section-breadcrumb-section .page-width-custom{
  padding-top: 60px !important;
}
  .breadcrumbs {
  font-size: .85em;
  margin: 0 0 2em;
}

.breadcrumbs [aria-current="page"] {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}

.breadcrumbs [aria-current="page"]:hover,
.breadcrumbs [aria-current="page"]:focus {
  text-decoration: underline;
}
 nav.breadcrumb a,
 nav.breadcrumb span{
    font-family: 'Intervogue';
    font-style: normal;
    font-weight: 500;
    font-size: 12.5px;
    line-height: 21px;
    text-align: center;
   letter-spacing: 0.25px;
    color: #2B2725 !important;
 }
.home-link, .sub-link{
    font-family: 'Intervogue';
    font-style: normal;
    font-weight: 500;
    font-size: 12.5px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #2B2725;
}
</style>

{% schema %}
  {
    "name": "Breadcrumb section",
    "settings": [
      {
        "type": "checkbox",
        "id": "page_breadcrumb_enable",
        "label": "Show page breadcrumb"
      }
    ],
        "presets": [
      {
          "category": "content",
          "name":"Breadcrumb section"
      }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}