<div class="page-width faq-page-width">
  <section id="faq-eight" class="faq-menu-contents">
    <a class="faq-menu" href="#faq-eight">{{ section.settings.faq_menu_title }}</a>
    <div class="">
      <p class="np-h1">      
        FAQs
      </p>
      <p class="np-h3 fmt-3">
        {{ section.settings.faq_menu_title }}
      </p>
  </div>
    {% for block in section.blocks %}
    {% case block.type %}
    {% when 'question' %}
    <div class="faq-card faq-card-custom-font">
      <a href="#">{{ block.settings.title }}
        <span id="custom-icon-faq-el" class="collapsible-trigger__icon collapsible-trigger__icon--circle collapsible-trigger__icon--open custom-icon-faq-el" role="presentation">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"/></svg>
        </span>
      </a>      <div class="content">
        {{ block.settings.text }}
      </div>
    </div>
    {% endcase %}
    {% endfor %}
    <div class="bottom-text-faq-el">
      <p>Still can’t find what you’re looking for? Any questions, <a href="https://ninetypercent.com/pages/contact-us">send us a message.</a></p>
    </div>
  </section>
</div>
{% schema %}
  {
    "name": "FAQs Menu Section: Eight",
	"class": "faq-eight",
    "settings": [
            {
              "type": "text",
              "id": "faq_menu_title",
              "label": "Eight FAQ Menu",
              "default": "Voting FAQs"
            }
		],
	"blocks": [
		{
		"type": "question",
        "name": "Question",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Question",
            "default": "Frequently asked question"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>"
          }
        ]
		}
		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
