<div class="shogun-root" data-shogun-id="64f8444994f4ed00d6653633" data-shogun-site-id="fff539b5-152d-40c7-8dde-a2e4e48aacac" data-shogun-section-id="64f8444994f4ed00d6653633" data-shogun-section-version-id="64f97e4a13819b00fd402145" data-shogun-platform-type="shopify" data-shogun-variant-id="64f97e4a13819b00fd402170" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/938e11dcf31df3b7cdf491a140714096/64f97e4a13819b00fd402170.css" />

<script type="text/javascript" src="https://cdn.getshogun.com/3a557fcd213b4d9b50bb91af9f76c851/global-assets-f09ee611a1b34f96d315d3fa48d3a6d66672f3da.js" defer></script>



<div
  id="s-23f50bc0-df83-4585-88c5-d24900d8efe7-root"
  class="s-23f50bc0-df83-4585-88c5-d24900d8efe7 shg-align-container"
>
  <div
    class="shg-c s-23f50bc0-df83-4585-88c5-d24900d8efe7 shogun-image-container    shg-align-center"
    style="opacity: 1;"
    id="s-23f50bc0-df83-4585-88c5-d24900d8efe7">
    <div class="shg-image-content-wrapper">
      
        
          <img
             srcset="https://i.shgcdn.com/34b1d223-f678-4be6-84c4-b5d61cc6842d/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/180x/ 180w,https://i.shgcdn.com/34b1d223-f678-4be6-84c4-b5d61cc6842d/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/360x/ 360w,https://i.shgcdn.com/34b1d223-f678-4be6-84c4-b5d61cc6842d/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/720x/ 720w,https://i.shgcdn.com/34b1d223-f678-4be6-84c4-b5d61cc6842d/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/900x/ 900w,https://i.shgcdn.com/34b1d223-f678-4be6-84c4-b5d61cc6842d/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/1080x/ 1080w,https://i.shgcdn.com/34b1d223-f678-4be6-84c4-b5d61cc6842d/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/1200x/ 1200w,https://i.shgcdn.com/34b1d223-f678-4be6-84c4-b5d61cc6842d/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/1920x/ 1920w,https://i.shgcdn.com/34b1d223-f678-4be6-84c4-b5d61cc6842d/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/2048x/ 2048w" 
             sizes="100vw" 
            src="https://i.shgcdn.com/34b1d223-f678-4be6-84c4-b5d61cc6842d/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
            width=""
            height=""
            style=""
            alt=""
            class="shogun-image "
            decoding="async"
            loading="eager"
          />
        
        
      
      
        <div class="shg-imageV2-content shogun-image-content shogun-image-content-not-linked">
          <div>
            <div id="s-c8b852c7-2fec-425f-b896-64705c71a690"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: center;"><span style="font-family: intervogue; color: rgb(255, 255, 255);" data-fontfamily="intervogue"><span style="font-weight: 600;" data-fontweight="600">a CAPSULE COLLECTION </span></span></p></div>

</div>
<div id="s-d875c294-5492-4f9a-be9b-5cfc3515204f"  class="shg-c  shg-align-center">
  <div
  class="shogun-heading-component">
  <h1>
    
      VIVIEN MCDERMID
    
  </h1>
</div>

</div>
<div id="s-534cc083-c1f7-4bf1-83cd-11416d900000"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: center;"><span style="text-decoration: underline; color: rgb(255, 255, 255);"><span style="font-family: intervogue;" data-fontfamily="intervogue">Shop the Collection</span></span></p></div>

</div>

          </div>
        </div>
      
      
      
    </div>
  </div>
</div>


  <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-23f50bc0-df83-4585-88c5-d24900d8efe7" }
    }
  </script>



  
</div>

{% schema %}
  {
    "name": "Vivien Draft",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=64f8444994f4ed00d6653633&shop=ninetypercent.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Vivien Draft",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
