<section class="custom-spacer-{{ section.id }}">

</section>

<style>
    .custom-spacer-{{ section.id }}{
        height: {{ section.settings.spacer }}px;
    }
    @media (max-width: 768px) {
      .custom-spacer-{{ section.id }}{
        height: 50px;
      }
    }
</style>

{% schema %}
{
    "name": "Spacer",
    "settings": [
        {
            "type": "range",
            "id": "spacer",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "default": 10,
            "label": "Height"
        }
    ],
    "presets": [
        {
            "name": "Spacer"
        }
    ]
}
{% endschema %}