/* .product-single__form {
  height: 70px;
} */

/* .swym-button-bar .btn.swym-button  {
  width: 464px !important;
}
 */



.swym-btn-container[data-position=default] .swym-add-to-watchlist.swym-text {
    height: 72px;
     width: 100%;
    color: #FFF !important;
    font-family: Intervogue;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 27px; 
    letter-spacing: 0.9px;
    text-align: left;
    padding: 22px 0px 22px 24px;
    text-transform: capitalize;
    background: #2B2725 !important;
}
.swym-btn-container[data-position=default] {
  display: block;
}
 .swym-button-bar {
  display: block;
  margin: 0px;

} 
.swym-button-bar.swym-bbar-nomargin {
  display: none !important;
}
 .swym-remind-me-mailing-list-container {
  display: none !important;
}
.swym-modal-content .swym-remind-me {
    padding: 95px;
    width: 90%;
}
#swym-remind-auth-form {
    border-bottom: 0.5px solid black;
    display: flex;
    justify-content: space-between;
}
#swym-remind-email-auth-input {
    border-block-style: none;
    border-left-style: none;
    border-right-style: none;
    width: 70%;
    padding: 0px 0px;
}
.swym-modal-content #swym-remind-email-auth-button {
    display: inline;
    width: auto !important;
    background-color: white !important;
    color: black;
    padding: 0px 0px;
    margin-top: 0px !important;
    font-family: 'Intervogue';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
text-align: right;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;
}


input#swym-remind-email-auth-input:focus {
  outline: none;
}

#swym-remind-email-auth-input::placeholder {
  font-family: 'Intervogue';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.05em;

color: rgba(0, 0, 0, 0.5)
}
.swym-privacy-info {
    display: none;
}

.swym-remind-me .swym-title {
    margin-bottom: 36px;
    
}

.swym-remind-me .swym-title h2 {
  font-family: 'Intervogue';
font-weight: 400;
font-size: 24px;

letter-spacing: 0.05em;
text-transform: uppercase;
color: #000000;
}

.swym-remind-me p.swym-remind-description {
    margin-bottom: 25px !important;
font-family: 'Intervogue';
font-style: normal !important;
font-weight: 400;
font-size: 12px !important;
line-height: 25px;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;
}
.swym-ui-component .swym-generic-modal .swym-generic-modal-dialog .swym-close-btn::before {
    font-size: 15px;
}
.swym-ui-component .swym-generic-modal .swym-generic-modal-dialog .swym-close-btn {
        top: 20px;
        right: 22px;
}

.swym-remind-me .swym-validation-error-msg, .swym-remind-me .swym-success-msg {
  font-family: 'Intervogue';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 21px;

letter-spacing: 0.02em;
padding: 0px;
color: #000000;
border: none !important;
background: none !important;
}
.swym-remind-me .swym-remind-email-container .swym-input-and-error-container.has-error #swym-remind-email-auth-input {
  border: none;
}
.swym-remind-me #remind-me-subscribe-btn {
  color: white;
  background: #2B2527;
  border: none;
  /*   displaying none to accomodate new design */
  display: none;
}
@media screen and (max-width: 840px) {
   .swym-btn-container[data-position=default] .swym-add-to-watchlist.swym-text  {
   line-height: 100%; 
 }
}
 @media screen and (max-width: 768px) {

.swym-btn-container[data-position=default] .swym-add-to-watchlist.swym-text {
color: #FFF;
font-family: Intervogue;
font-size: 16px !important;
font-style: normal;
font-weight: 500;
line-height: 24px; 
letter-spacing: 0.8px;
  height: 58px !important;
}

 .swym-button-bar {
  width: 100%;
/* position: fixed !important; */
    left: 0;
    bottom: 0;
    z-index: 999999;
}   
.swymProduct[disabled="disabled"] {
  position: relative !important;
}

 .swym-btn-container[data-position=default] .swym-add-to-watchlist.swym-text  {
   line-height: 100%; 
 }
.swym-modal-content .swym-remind-me {
  padding: 30px;
}
.swym-ui-component .swym-generic-modal .swym-generic-modal-dialog {
  max-width: 400px;
}
} 

@media screen and (max-width: 400px) {
 
.swym-modal-content .swym-remind-me {
  padding: 10px;
}
.swym-ui-component .swym-generic-modal .swym-generic-modal-dialog {
  max-width: 320px;
}
} 
